/BB3/Debug/
/BB3/Release/
/BB3_loader/Debug/
/BB3_loader/Release/
*.launch
#.mxproject
#.cproject
*~
*.pyc
.ipynb_checkpoints/
Utilities/CrashDebug/dump.bin
Utilities/Map/pipeline/errors.list
Utilities/Map/pipeline/*_temporary_input.geojson
BB_map_sim/*.data
BB_map_sim/.settings
Utilities/CrashDebug/dump.bin
Utilities/Bundle/strato.fw

