iframe
{
    display: none;
}

ul
{
    padding-left: 0;
}

li
{
    list-style: none;
}

table
{
    display: table;
}

table tbody
{
    display: table-row-group;
}

table tr
{
    display: table-row;
}

td
{
    flex: unset !important;
    padding: 10px 0px 10px 10px !important;
    white-space:nowrap;
    
}

td.name
{
    width: 250px;
}

td.size
{
    width: 100px;
}

div.center-box
{
    border: 1px gray solid;
    max-width: 600px;
    margin: auto;
    width: 95%;
    /* border-radius: 30px; */
}

svg polygon.outline
{
    fill: yellow;
    fill-opacity: 0;
    stroke: gray;
    stroke-width: 2px;
}
svg polygon.outline:hover
{
    stroke: yellow !important;
/*    stroke-width: 4px !important;*/
 /*   fill-opacity: 0.2 !important;*/
}

svg rect.outline
{
    stroke: gray;
    stroke-width: 2px;
}

svg .selected
{
    stroke: yellow !important;
    stroke-width: 6px !important;
/*    fill-opacity: 0.2 !important;*/
}

svg polyline.axis
{
    fill: none;
    stroke: gray;
    stroke-width: 1px;
}

svg polyline.center
{
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

svg .checker
{
    fill: hsl(240, 100%, 50%);
    fill-opacity: 0.6;
}

svg polyline.prev_ruler
{
    stroke: blue;
    stroke-width: 1px;
}

svg text.freq
{
    /* fill: white; */
    dominant-baseline: central;
    text-anchor: end;
}

svg text.dura
{
    dominant-baseline: central;
}

svg #tone_prev_climb
{
    text-anchor: middle;
    font-weight: bold;
    font-size: 15pt;
}

svg text.label
{
    text-anchor: middle;
    dominant-baseline: hanging;
}

svg #freq_line
{
    fill: none;
    stroke: yellow;
    stroke-width: 4px;
}

svg circle
{
    stroke: yellow;
    stroke-width: 2px;
}

svg circle:hover
{
    fill: yellow;
}

.icon
{
    color: black;
    /* background-color: white; */
    /* border-radius: 4px; */
    margin: 0 5px 0 5px;
}

img.icon
{
    position: relative;
    top: 4px; 
}

#mapid .leaflet-control-zoom a
{
    display: block;
        background-color: #fff;
        color: black;
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
}


td img.icon
{
    position: relative;
    top: 0px !important; 
}

div.editor
{
    max-width: 800px;
    max-height: 500px !important;
    height: 500px;
}

div.editor textarea
{
    width: 750px;
    height: 320px;
}
